.banner
{
    background-image: url(../imagens/imagem1.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img
{
    color: black;
    line-height: 1,6;
}